#main .login-form {
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05)
}

#main .login-form .title {
    padding: 10px 0px;
    color: #ccc
}

#main .login-form label {
    margin-bottom: 1rem !important
}

#main .login-form .margin-bottom-0 {
    margin-bottom: 0rem !important
}

.notify{
    transition: .2s;
}